{% if posts.has_other_pages %}

    {% if posts.has_previous %}
		<a data-page="1" href="?page=1" class="btn btn-outline-info paginator-link">First</a>
		<a data-page="{{ posts.previous_page_number }}" href="?page={{ posts.previous_page_number }}"
		   class="btn btn-outline-info paginator-link">Previous</a>
	{% endif %}

	{% for num in posts.paginator.page_range %}
		{% if posts.number == num %}
			<a class="btn btn-info paginator-link">{{ num }}</a>
		{% elif num > posts.number|add:'-3' and num < posts.number|add:'3' %}
			<a data-page="{{ num }}" href="?page={{ num }}" class="btn btn-outline-info paginator-link">{{ num }}</a>
		{% endif %}

	{% endfor %}

	{% if posts.has_next %}
		<a data-page="{{ posts.next_page_number }}" href="?page={{ posts.next_page_number }}"
		   class="btn btn-outline-info paginator-link">Next</a>
		<a data-page="{{ posts.paginator.num_pages }}" href="?page={{ posts.paginator.num_pages }}"
		   class="btn btn-outline-info paginator-link">Last</a>
    {% endif %}

{% endif %}