{% extends 'base/base.html' %}

{% block content %}

<div id="mapid"></div>

{% endblock %}

{% block scripts %}

<!-- Leaflet CSS -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
      integrity="sha384-LlNn6U9NlUJvp6Uf8aM3w6qPJryAmpIe6gzWZpR1iRc9nL2bI2MYW8FGDIaSg7V5"
      crossorigin=""/>

<!-- Leaflet JavaScript -->
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha384-EoQxuXO9gfuKT1OOfyXd94wcRXgEwGcdp+AdzIGJVPQuNlJCSeFEuJD7pd/KJf/1"
        crossorigin=""></script>

<script>
    var mymap = L.map('mapid').setView([51.505, -0.09], 13);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors'
    }).addTo(mymap);

    {% for point in points %}
    L.marker([{{ point.lat }}, {{ point.lng }}]).addTo(mymap);
    {% endfor %}
</script>

{% endblock %}
