{% extends 'base/base.html' %}
{% load crispy_forms_tags %}

{% block body %}

<main id="main">
    <section id="password-reset" class="password-reset">
        <div class="container">
            <div class="section-title">
                <h2>Reset Password</h2>
            </div>

            <div class="row justify-content-center">
                <div class="col-lg-6 mt-4 border bg-light shadow rounded p-4">
                    <p>Forgotten your password? Enter your email address below, and we’ll email instructions for
                        setting a new one.</p>

                    <form method="post" class="password-reset-form"> {% csrf_token %}
                        {{ form|crispy }}
                        <div class="my-4">
                            <button type="submit" class="btn-password-reset">Request Password Reset</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>

{% endblock body %}
