{% extends 'users/profile_sidebar.html' %}
{% load crispy_forms_tags %}
{% block passwordactive %} active {% endblock passwordactive %}

{% block settings %}
<div>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}
</div>

<div class="border-bottom">
    <h3 id="public-profile-heading" class="Subhead-heading">Change password</h3>
</div>

<div class="clearfix gutter d-flex flex-shrink-0 flex-column-reverse flex-md-row mt-4">
    <div class="col-12 col-md-8 pe-4 pb-4">
        <p>Please enter your old password, for security’s sake, and then enter your new password twice, so we can
            verify you typed it in correctly.</p>
        <form method="post" class="change-password-form"> {% csrf_token %}
            {{ form|crispy }}
            <div class="my-4">
                <button type="submit" class="btn-change-password me-2">Update password</button>
                <small class="text-muted">
                    <a class="text-decoration-none" href="{% url 'password_reset' %}">I forgot my password</a>
                </small>
            </div>
        </form>
    </div>
</div>
{% endblock settings %}
